{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="genus-details">
        <div class="genus-photo"></div>
        <div class="genus-name">
            <dl class="genus-details-list">
                  <dt>Series: </dt>
                    <dd>{{ series.name }}</dd>
                     <div>
                        <dt>Episodes :</dt>
                            {% for e in episodes %}
                                <dd class="center">{{ e.episodeNumber}} - {{ e.name }}</dd>
                                <button class="btn btn-primary" type="submit"><a href="{{ path ('add_episode', {'episode_name': e.name }) }}">I want watch it!</a></button>
                            {% endfor %}
                     </div>
            </dl>
        </div>
    </div>
    <div class="notes-container">
    </div>
{% endblock %}
