{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1 class="center">Create a new serie</h1>
	{{ form_start(form) }}
	<div class="panel">
		{{ form_widget(form) }}
	</div>
	{{ form_end(form) }}
</div>
{% endblock%}

